* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --corpo-900: #4F4F4F;
    --A4-nomal: white;
}

body {
    background-color: var(--corpo-900);
    font-family: 'Times New Roman', Times, serif;
    
    display: flex;
    justify-content: center;
}